<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7d8bd0f7-b459-4a8c-8f9c-243f79d2a22a/resourceGroups/Covid-App-RG/providers/Microsoft.Web/sites/covid19app001</ResourceId>
    <ResourceGroup>Covid-App-RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://covid19app001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>covid19app001.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>covid19app001</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$covid19app001</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>